<div class="d-flex justify-content-center p-2  ">
  <div class="col-lg-2 col-md-4 user-image col-sm-6 col-xs-8  text-center">
    <img [src]="profileImage" class="photo rounded-circle">
  </div>
</div>
<div class="border">
  
  
  <ul class="list-group">
    <li class="list-group-item"><strong class="m-3">Name : </strong> {{seeker.user.name}}</li>
    <li class="list-group-item"><strong class="m-3">Email : </strong> {{seeker.user.email}}</li>
    <li class="list-group-item"><strong class="m-3">Password : </strong> {{seeker.user.password}}</li>
    <li class="list-group-item"><strong class="m-3">Phone : </strong> {{seeker.phone}}</li>

    <li class="list-group-item"><strong class="m-3">Email verified at : </strong> {{seeker.user.verify_email}}</li>
    <li class="list-group-item"><strong class="m-3">Phone is verified : </strong> {{seeker.isVerified}}</li>
    <li class="list-group-item"><strong class="m-3">Address : </strong> {{seeker.address}}</li>
    <li class="list-group-item"><strong class="m-3">City : </strong> {{seeker.city}}</li>
    <li class="list-group-item"><strong class="m-3">Seniority Level : </strong> {{seeker.seniority}}</li>

    <li class="list-group-item"><strong class="m-3">Years of experience : </strong> {{seeker.expYears}}</li>
    <li class="list-group-item"><strong class="m-3">Current Job : </strong> {{seeker.currentJob}}</li>
    <li class="list-group-item"><strong class="m-3">Current Salary : </strong> {{seeker.currentSalary}}</li>
    <li class="list-group-item"><strong class="m-3">Expected Salary : </strong> {{seeker.expectedSalary}}</li>
    <li class="list-group-item"><strong class="m-3">CV : </strong>
      <a [href]="url" target="_blank" rel="noopener noreferrer">{{seeker.cv}}</a>
    </li>
    <li class="list-group-item"><strong class="m-3">contacts : </strong>
      <div *ngFor="let contact of seeker.contacts" class="ml-5">
        {{contact.contact_type}}: {{contact.data}}
      </div>
    </li>
  </ul>
</div>
