<div *ngIf="isDataLoaded" class=" container my-4 ml-auto p-5 pb-0 ">

    <div *ngIf="jobs.length < 1" class="d-flex justify-content-end ml-5">
        <search></search>
    </div>

    <div *ngIf="jobs.length > 0;else notFound">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h1 class="home-title"><b>Apply Now</b></h1>
            </div>

            <div class="d-flex justify-content-end ml-5">
                <search></search>
            </div>
            <div *ngFor="let job of jobs" class="col-lg-4 col-md-6 col-12 my-3 mx-0" (click)="openModal(job)">
                <div class="card item" style="width: 20rem;" @fade>
                    <img src="/assets/images/bg_card.jpg" class="card-img" alt="job backgoround">
                  <div class="card-img-overlay">
                    <h3 class="card-title"><strong>{{job.title}}</strong></h3>
                    <h5 class="card-subtitle mb-2 text-muted">{{job.date | date}}</h5>
                    <p class="card-text">{{job.description | slice:0:200}}...</p>
                    <p><strong>Seniority level</strong> : {{job.seniority}}</p>
                    <p><strong>Years of experience</strong> : {{job.years_exp}}</p>
                  </div>
                </div>

            </div>
        </div>
        <div>
            <nav class="justify-content-center mt-4" aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li *ngIf="filterParams.page > 1" (click)="prevPage()" class="page-item mx-1"><Button type="button"
                            class="page-link">Previous</Button></li>
                    <li *ngIf="filterParams.page < lastPage" (click)="nextPage()" class="page-item mx-1"><Button
                            type="button" class="page-link">Next</Button></li>
                </ul>
            </nav>
        </div>

    </div>
    <ng-template #notFound>
        <h1 class="alert alert-primary"> Sorry there isn't available job now</h1>
    </ng-template>
</div>
