.item:hover{
    /* background: rgb(0,115,177) !important;
    color: white !important; */
    font-family: "Times New Roman", Times, serif;
    cursor: pointer;
    border-style: inset;
    border-width: 2px;
}

.item{
    background:white !important;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    border-style: solid;
    border-color: #31708e;
    border-width: 1px;
}

.h-item{
    color:#31708e !important;
}

.home-title{
    color: #ffe400;
}

.bg-jobs{
    border-radius: 5px;
    /* background: #05386b; */
    background: rgb(216,228,240);
background: radial-gradient(circle, rgba(216,228,240,1) 50%, rgba(5,56,107,1) 100%);
}

/* .page-link{
    color: #31708e !important;
} */
.page-link:hover{
    background-color: #31708e !important;
    color: white !important;
}
.page-link{
    background-color: white !important;
    color: #31708e !important;
    border: 1px solid #31708e;
}