.item:hover{
    /* background: rgb(0,115,177) !important;
    color: white !important; */
    font-family: "Times New Roman", Times, serif;
    cursor: pointer;
    border-style: inset;
}

.item{
    background:white !important;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
}

.h-item{
    color:rgb(0,115,177) !important;
}
