<!-- <ul class="list-group pb-2 pt-3"> -->
  <a [ngClass]="{selected: selected =='seeker' }" class=" px-3  clickable" [routerLink]="['/admin/seeker']"  > Seekers</a>
  <a [ngClass]="{selected: selected =='employee' }" class=" px-3  clickable" [routerLink]="['/admin/employee']" >Employees</a>
  <a [ngClass]="{selected: selected =='jobs' }"class=" px-3  clickable" [routerLink]="['/admin/jobs']" >Jobs</a>
  <a [ngClass]="{selected: selected =='applications' }"class=" px-2  clickable" [routerLink]="['/admin/applications']" >Applications</a>
  <a [ngClass]="{selected: selected =='statuses' }"class=" px-3  clickable" [routerLink]="['/admin/statuses']" >Statuses</a>
  <a [ngClass]="{selected: selected =='interviews' }"class=" px-3  clickable" [routerLink]="['/admin/interviews']">Interviews</a>
  <!-- <a class=" px-3 pb-3 pt-3 clickable" (click)="onClick('reviews')">Reviews</a> -->
  <!-- <a class=" px-3 pb-3 pt-3 clickable" (click)="onClick('requirements')">Requirements</a> -->
  <a [ngClass]="{selected: selected =='levels' }"class=" px-3  clickable" [routerLink]="['/admin/levels']" >Levels</a>
  <a [ngClass]="{selected: selected =='contact' }"class=" px-3  clickable" [routerLink]="['/admin/contact']" >Contacts</a>
  <a [ngClass]="{selected: selected =='contacttype' }"class=" px-3  clickable" [routerLink]="['/admin/contacttype']" >Contact Types</a>

<!-- </ul> -->
