a {
  /* cursor: pointer; */
  padding: 18px ;
  text-decoration: none;
  color: black;
  font-weight: 450;
}

.selected {
  background-color: rgb(127, 127, 126);
  color: white;
}

a:hover {
  background-color: rgb(127, 127, 126);
  border: groove;
  border-width: 2px;
  border-color: rgb(127, 127, 126);
  color: white;
}