<ul class="list-group py-2">
  <li [ngClass]="{selected: selected =='seeker' }" class="list-group-item px-3 py-3 clickable" (click)="onClick('seeker')"> Seekers</li>
  <li [ngClass]="{selected: selected =='employee' }" class="list-group-item px-3 py-3 clickable" (click)="onClick('employee')">Employees</li>
  <li [ngClass]="{selected: selected =='jobs' }"class="list-group-item px-3 py-3 clickable" (click)="onClick('jobs')">Jobs</li>
  <li [ngClass]="{selected: selected =='applications' }"class="list-group-item px-3 py-3 clickable" (click)="onClick('applications')">Applications</li>
  <li [ngClass]="{selected: selected =='statuses' }"class="list-group-item px-3 py-3 clickable" (click)="onClick('statuses')">Statuses</li>
  <li [ngClass]="{selected: selected =='interviews' }"class="list-group-item px-3 py-3 clickable" (click)="onClick('interviews')">Interviews</li>
  <!-- <li class="list-group-item px-3 py-3 clickable" (click)="onClick('reviews')">Reviews</li> -->
  <!-- <li class="list-group-item px-3 py-3 clickable" (click)="onClick('requirements')">Requirements</li> -->
  <li [ngClass]="{selected: selected =='levels' }"class="list-group-item px-3 py-3 clickable" (click)="onClick('levels')">Levels</li>
  <li [ngClass]="{selected: selected =='contact' }"class="list-group-item px-3 py-3 clickable" (click)="onClick('contact')">Contacts</li>
  <li [ngClass]="{selected: selected =='contacttype' }"class="list-group-item px-3 py-3 clickable" (click)="onClick('contacttype')">Contact Types</li>

</ul>