
<form class="text-center" [formGroup] = "seeker" (ngSubmit) = "onClickSubmit(seeker.value)" >
  <table class="table table-borderless">
  <tbody>
    <tr>
      <th scope="col">Name</th>
      <td>
        <input type = "text"
          name = "name"
          placeholder = "name"
          formControlName = "name">
      </td>
    </tr>
    <tr>
      <th scope="col">Email</th>
      <td>
        <input type = "email"
          name = "email"
          placeholder = "email"
          formControlName = "email">
      </td>
    </tr>
  </tbody>
</table>

<input class="btn btn-success" type = "submit" value = "Edit">
</form>