<!-- <div class="mb-4 mx-0 border single-app rounded">
    <div class="p-5">

        <h2 class="text-center mb-4"><strong>{{job.title}}</strong></h2>
        <div class="bg-white p-4 my-2 mx-auto w-75 rounded">
            <p><strong>Description</strong></p>
            <div class="ml-3">   
                <p class="mb-0 pre">{{job.description}}</p>
            </div>
            
            <p class="mb-0"><strong>Years of Experience :</strong> {{job.years_exp}}</p>
            <p class="mb-0"><strong>Seniority :</strong> {{job.seniority}}</p>
        </div>
        <div *ngIf="job.requirements.length > 0" class="bg-white p-4 my-2 mx-auto w-75 rounded">
            <h3>Requirements</h3>
            <ul>
                <li *ngFor="let req of job.requirements"> {{req.name}}</li>
            </ul>
        </div>
    </div>

</div> -->
<div class="  mx-5 mb-5 mt-2 px-5 pt-0 pb-2 rounded p-1">
    <h1 class="text-center text-title"><strong>{{job.title}}</strong></h1>
    <div class="px-3 py-2 mt-2 mx-2  bg-white border border-secondary rounded details">
        <h3 class="mb-0"><strong>Description</strong></h3>
        <div class=" pl-3 ">
            <p class="pre">{{job.description}}</p>
        </div>
        <p><strong>Years of Experience : </strong>{{job.years_exp}}</p>
        <p><strong>Seniority : </strong>{{job.seniority}}</p>
    </div>
    <div *ngIf="job.requirements.length > 0" class="p-2 mt-2 mx-2 bg-white border border-secondary rounded details">
        <h3><strong>Requirements</strong></h3>
        <ul>
            <li *ngFor="let req of job.requirements"> {{req.name}}</li>
        </ul>
    </div>
</div>


<!-- job applications -->
<div *ngIf="isDataLoaded">
    <admin-applications [job]="job.id"></admin-applications>
</div>