<div class="text-right mr-5">
  <a class="btn btn-info mt-2 btn-sm text-white" (click)="open(content, 'new', '')">New</a>
</div>
<div class="container text-center my-1 bg-warning">
  {{error}}
</div>
<table class="table text-center bg-white">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Seeker</th>
        <th scope="col">data</th>
        <th scope="col">Type</th>
        <th scope="col" colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts">
        <th scope="row">{{contact.id}}</th>
        <td>{{contact.seeker_name}}</td>
        <td>{{contact.data}}</td>
        <td>{{contact.contact_type}}</td>
        <td><a class="btn btn-primary btn-sm text-white" (click)="open(content, 'edit',contact.id)">edit</a></td>
        <td><a class="btn btn-danger btn-sm text-white" (click)="deleteContact(contact.id)">delete</a></td>
      </tr>
    </tbody>
  </table>

  <div>
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="!prev">
          <span class="page-link" (click)="gotoPrev()">Previous</span>
        </li>
        <li class="page-item" [class.disabled]="!next">
          <span class="page-link" (click)="gotoNext()">Next</span>
        </li>
      </ul>
    </nav>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title mb-0" id="modal-basic-title">{{clickType=='new'?'Add':clickType=='edit'?'Edit':''}} Contact</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-contact-form *ngIf="clickType=='new'" (contactChanged)="contactChanged()"></app-contact-form>
      <app-contact-form *ngIf="clickType=='edit'" [clickType]="'edit'" [contact_id]="id" (contactChanged)="contactChanged()"></app-contact-form>
    </div>
  </ng-template>