<!-- <nav class="navbar navbar-icon-top fixed-top navbar-expand-lg py-0"
  [ngClass]="{navAdmin:isSuperadmin===true, navSeeker:isSuperadmin!=true}">
  <a class="navbar-brand py-2" href="#"><img src="assets/images/logo2.png" width="40" height="40"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mr-2">
      <li class="nav-item active">
        <a routerLink="/" class="nav-link py-2" href="#">
          Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active" *ngIf="loggedIn===true&&isSuperadmin===true">
        <a routerLink="/admin" class="nav-link py-2">
          Dashboard
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item clickable active" *ngIf="loggedIn===true">
        <a routerLink="/profile/{{profileId}}" class="nav-link py-2">
          {{userName}}
        </a>
      </li>
      <li class="nav-item clickable active" *ngIf="loggedIn===true&&isSeeker">
        <a routerLink="/applications" class="nav-link py-2">
          Applications
        </a>
      </li>
      <li class="nav-item clickable active" *ngIf="loggedIn===true&&isEmployee===true">
        <a routerLink="/emprev" class="nav-link py-2">
          interviews
        </a>
      </li>
      <li class="nav-item dropdown" *ngIf="loggedIn===true">
        <a class="nav-link py-2" routerLink="/logout" id="navbarDropdown" role="button">
          Log Out
        </a>
      </li>
      <li class="nav-item dropdown" *ngIf="loggedIn===false">
        <a class="nav-link py-2" routerLink="/login" id="navbarDropdown" role="button">
          Log In
        </a>
      </li>
      <li class="nav-item dropdown" *ngIf="loggedIn===false">
        <a class="nav-link py-2" routerLink="/signup" id="navbarDropdown" role="button">
          Register
        </a>
      </li>
    </ul>
  </div>
</nav> -->


<div style="height: 100vh;">
  <mat-toolbar [ngClass]="{navAdmin:isSuperadmin===true, navSeeker:isSuperadmin!=true}">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <a class="navbar-brand py-2" href="#"><img src="assets/images/logo2.png" width="40" height="40"></a>

      <div fxShow="true" fxHide.lt-md="true" class="ml-auto mr-2">
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->

        <a routerLink="/" mat-button>
          <mat-icon>home</mat-icon>
          Home
        </a>
        <a routerLink="/admin" *ngIf="loggedIn===true&&isSuperadmin===true" mat-button>
          <mat-icon>dashboard</mat-icon>
          Dashboard
        </a>
        <a routerLink="/profile/{{profileId}}" mat-button>
          <mat-icon>account_box</mat-icon>
          My Account
        </a>
        <a routerLink="/applications" *ngIf="loggedIn===true&&isSeeker" mat-button>
          <!-- <mat-icon>application</mat-icon> -->
          Applications
        </a>
        <a routerLink="/emprev" *ngIf="loggedIn===true&&isEmployee===true" mat-button>
          <mat-icon>notifications</mat-icon>
          Interviews
        </a>
        <a routerLink="/logout" *ngIf="loggedIn===true" mat-button>
          <mat-icon>logout</mat-icon>
          Log Out
        </a>
        <a routerLink="/login" *ngIf="loggedIn===false" mat-button>
          <mat-icon>login</mat-icon>
          Log In
        </a>
        <a routerLink="/signup" *ngIf="loggedIn===false" mat-button>
          <!-- <mat-icon>signup</mat-icon> -->
          Register
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>

        <a (click)="sidenav.toggle()" routerLink="/" mat-list-item>
          <mat-icon>home</mat-icon>
          Home
        </a>
        <a (click)="sidenav.toggle()" routerLink="/admin" *ngIf="loggedIn===true&&isSuperadmin===true" mat-list-item>
          <mat-icon>dashboard</mat-icon>
          Dashboard
        </a>
        <a (click)="sidenav.toggle()" routerLink="/profile/{{profileId}}" mat-list-item>
          <mat-icon>account_box</mat-icon>
          My Account
        </a>
        <a (click)="sidenav.toggle()" routerLink="/applications" *ngIf="loggedIn===true&&isSeeker" mat-list-item>
          <!-- <mat-icon>application</mat-icon> -->
          Applications
        </a>
        <a (click)="sidenav.toggle()" routerLink="/emprev" *ngIf="loggedIn===true&&isEmployee===true" mat-list-item>
          <mat-icon>notifications</mat-icon>
          Interviews
        </a>
        <a (click)="sidenav.toggle()" routerLink="/logout" *ngIf="loggedIn===true" mat-list-item>
          <mat-icon>logout</mat-icon>
          Log Out
        </a>
        <a (click)="sidenav.toggle()" routerLink="/login" *ngIf="loggedIn===false" mat-list-item>
          <mat-icon>login</mat-icon>
          Log In
        </a>
        <a (click)="sidenav.toggle()" routerLink="/signup" *ngIf="loggedIn===false" mat-list-item>
          <!-- <mat-icon>signup</mat-icon> -->
          Register
        </a>

        <a (click)="sidenav.toggle()" mat-list-item>
          <mat-icon>close</mat-icon> Close
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>Main content</mat-sidenav-content>
  </mat-sidenav-container>
</div>
