<nav class="navbar navbar-icon-top navbar-expand-lg py-0" [ngClass]="{navAdmin:isSuperadmin===true, navSeeker:isSuperadmin!=true}">
  <a class="navbar-brand" href="#"><img src="assets/images/logo2.png" width="40" height="40"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mr-2">
      <li class="nav-item active">
        <a routerLink="/" class="nav-link" href="#">
          Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active" *ngIf="loggedIn===true&&isSuperadmin===true">
        <a routerLink="/admin" class="nav-link">
          Dashboard
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item clickable active"  *ngIf="loggedIn===true">
        <a routerLink="/profile/{{profileId}}" class="nav-link">
          {{userName}}
        </a>
      </li>
      <li class="nav-item clickable active"  *ngIf="loggedIn===true">
        <a routerLink="/applications" class="nav-link">
          Applications
        </a>
      </li>
      <li class="nav-item dropdown" *ngIf="loggedIn===true">
        <a class="nav-link" routerLink="/logout" id="navbarDropdown" role="button">
          Log Out
        </a>
      </li>
      <li class="nav-item dropdown" *ngIf="loggedIn===false">
        <a class="nav-link" routerLink="/login" id="navbarDropdown" role="button">
          Log In
        </a>
      </li>
      <li class="nav-item dropdown" *ngIf="loggedIn===false">
        <a class="nav-link" routerLink="/signup" id="navbarDropdown" role="button">
          Register
        </a>
      </li>
    </ul>
  </div>
</nav>
