/* .navAdmin
{
  background-color: #0b0c10;
}
.navAdmin .nav-item .nav-link {
    color: #EAECFF;
    background-color: #0b0c10;
    font-weight: bold;
}
.navAdmin .nav-item .nav-link:hover, .nav-item .nav-link:active {
    color: #0b0c10;
    background-color: #EAECFF;
    border-color: #EAECFF;
} */
.navAdmin
{
  background-color: #490202;
}
.navAdmin .nav-item .nav-link {
    color: #EAECFF;
    background-color: #490202;
    font-weight: 550;
}
.navAdmin .nav-item .nav-link:hover, .nav-item .nav-link:active {
    color: #490202;
    background-color: #EAECFF;
    border-color: #EAECFF;
    border-color:  rgb(255, 255, 255);
    border-style: groove;
}



/* .navSeeker
{
  background-color: #1f4369;

} 

.navSeeker .nav-item .nav-link {
    color: white;
    border-color: #EAECFF;
    font-weight: bold;
}
.navSeeker .nav-item .nav-link:hover, .nav-item .nav-link:active {

    color: #1f4369;
    background-color: #f7f9fb;
    border-color: #1f4369;
    border-radius: 2px;

} */

.navSeeker
{
  background-color: rgb(21,65,138)
} 

.navSeeker .nav-item .nav-link {
    color: #EAECFF;
    background-color:  rgb(21,65,138);
    border-color:   #EAECFF;
    font-weight: 550;
}
.navSeeker .nav-item .nav-link:hover, .nav-item .nav-link:active {
    color:  rgb(21,65,138);
    background-color:  #EAECFF;
    /* border-color: rgb(16,122,248); */
    border-color:   #EAECFF;
    border-style: groove;
}
