/* .navAdmin
{
  background-color: #0b0c10;
}
.navAdmin .nav-item .nav-link {
    color: #EAECFF;
    background-color: #0b0c10;
    font-weight: bold;
}
.navAdmin .nav-item .nav-link:hover, .nav-item .nav-link:active {
    color: #0b0c10;
    background-color: #EAECFF;
    border-color: #EAECFF;
} */
.navAdmin
{
  background-color: #490202;
}
.navAdmin .nav-item .nav-link {
    color: #EAECFF;
    background-color: #490202;
    font-weight: 550;
}
.navAdmin .nav-item .nav-link:hover, .nav-item .nav-link:active {
    color: #490202;
    background-color: #EAECFF;
    border-color: #EAECFF;
    border-color:  rgb(255, 255, 255);
    border-style: groove;
}



/* .navSeeker
{
  background-color: #1f2833;
} 

.navSeeker .nav-item .nav-link {
    color: #D0DBD7;
    background-color: #1f2833;
    border-color: #EAECFF;
    font-weight: bold;
}
.navSeeker .nav-item .nav-link:hover, .nav-item .nav-link:active {
    color: #071913;
    background-color: #66fcf1;
    border-color: #111111;
} */
.navSeeker
{
  background-color: rgb(21,65,138)
} 

.navSeeker .nav-item .nav-link {
    color: #EAECFF;
    background-color:  rgb(21,65,138);
    border-color:   #EAECFF;
    font-weight: 550;
}
.navSeeker .nav-item .nav-link:hover, .nav-item .nav-link:active {
    color:  rgb(21,65,138);
    background-color:  #EAECFF;
    /* border-color: rgb(16,122,248); */
    border-color:   #EAECFF;
    border-style: groove;
}
