
.navAdmin
{
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
}
.navAdmin .nav-item .nav-link {
    color: #EAECFF;
    font-weight: 550;
}
.navAdmin .nav-item .nav-link:hover, .nav-item .nav-link:active {
    color: #000000;
    background-color: #EAECFF;
    border-color: #EAECFF;
    border-color:  rgb(255, 255, 255);
    border-style: groove;
}




.navSeeker
{
  background: rgba(21,65,100, 0.5);
  width: 100%;
}

.navSeeker .nav-item .nav-link {
    color: #EAECFF;
    font-weight: 550;
}
.navSeeker .nav-item .nav-link:hover, .nav-item .nav-link:active {
    color: rgb(21,65,100);
    background-color: #EAECFF;
    border-color: #EAECFF;
    border-color:  rgb(255, 255, 255);
    border-style: groove;
}
