<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-2">
            <button type="submit" class="btn btn-primary ">search</button>
        </div>
        <div class="col-6 row">
            <div class="col-7 form-group">
                <input type="text" formControlName="keyWord" class="form-control" placeholder="Title">
            </div>
            <div class="col-5 form-group">
                <input type="text" formControlName="seniority" class="form-control" placeholder="Seniority">
            </div>
        </div>
        <div class="col-4 row">
            <div class="col-6 form-group">
                <input type="number" formControlName="maxYears" class="form-control" placeholder="max years">
            </div>
            <div class="col-6 form-group">
                <input type="number" formControlName="minYears" class="form-control" placeholder="min years">
            </div>
        </div>
    </div>
</form>