<div *ngIf="error" class="alert alert-danger">
  {{error.message}}
</div>

<form class="text-center bg-light m-2 p-2 border" [formGroup]="details" (ngSubmit)="onClickSubmit(details.value)">
  <div class="alert alert-success w-50 mx-auto" *ngIf="successUpdate" role="alert">
    updated successfully
  </div>
  <table class="table table-borderless text-center">
    <tbody>
      <tr>
        <th scope="col">Phone</th>
        <td>
          <input type="text" class="form-control" name="phone" placeholder="phone" formControlName="phone">
          <div *ngIf="phone.invalid && (phone.dirty || phone.touched) && !error" class="text-danger small">
            <div *ngIf="phone.errors.required">
              Phone is required.
            </div>
          </div>
          <div *ngIf="error && error.errors.phone" class="text-danger small">
            <div *ngFor="let phone of error.errors.phone">
              {{phone}}
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="col">Address</th>
        <td>
          <input type="text" class="form-control" name="address" placeholder="address" formControlName="address">
          <div *ngIf="error && error.errors.address" class="text-danger small">
          *{{error.errors.address}}
        </div>
        </td>
      </tr>
      <tr>
        <th scope="col">City</th>
        <td>
          <input type="text" class="form-control" name="city" placeholder="city" formControlName="city" required>
          <div *ngIf="error && error.errors.city" class="text-danger small">
            <div *ngFor="let city of error.errors.city">
              {{city}}
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="col">Seniority</th>
        <td>
          <input type="text" class="form-control" name="seniority" placeholder="seniority" formControlName="seniority">
          <div *ngIf="error && error.errors.seniority" class="text-danger small">
            <div *ngFor="let seniority of error.errors.seniority">
              {{seniority}}
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="col">Years of experience</th>
        <td>
          <input type="number" class="form-control" name="expYears" placeholder="Years of experience"
            formControlName="expYears">
          <div *ngIf="error && error.errors.expYears" class="text-danger small">
            <div *ngFor="let expYears of error.errors.expYears">
              {{expYears}}
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="col">Current Job</th>
        <td>
          <input type="text" class="form-control" name="currentJob" placeholder="Current Job"
            formControlName="currentJob">
          <div *ngIf="error && error.errors.currentJob" class="text-danger small">
            <div *ngFor="let currentJob of error.errors.currentJob">
              {{currentJob}}
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="col">Current Salary</th>
        <td>
          <input type="number" class="form-control" name="currentSalary" placeholder="Current Salary"
            formControlName="currentSalary">
          <div *ngIf="error && error.errors.currentSalary" class="text-danger small">
            <div *ngFor="let currentSalary of error.errors.currentSalary">
              {{currentSalary}}
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="col">Expected Salary</th>
        <td>
          <input type="number" class="form-control" name="expectedSalary" placeholder="Expected Salary"
            formControlName="expectedSalary">
          <div *ngIf="error && error.errors.expectedSalary" class="text-danger small">
            <div *ngFor="let expectedSalary of error.errors.expectedSalary">
              {{expectedSalary}}
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th>Other Contacts
          <span class="addContact" (click)="addContact()">
              <img src="https://img.icons8.com/material-sharp/20/000000/add.png" />
          </span>
        </th>
        <td>
          <div formArrayName="contacts">
            <div *ngFor="let contact of contacts.controls; index as i">
              <div [formGroupName]="i" class="d-flex bd-highlight">
                <div class="p-2 bd-highlight">
                  <input class="form-control" name="contact" type="text" formControlName="data" class="form-control"
                    aria-describedby="contactHelp" placeholder="Enter contact" />
                </div>
                <div class="p-2 bd-highlight">
                  <select class="form-control" name="contact_types_id" formControlName="contact_types_id">
                    <option value=''>please select</option>
                    <option *ngFor="let contactType of contactTypes" value="{{contactType.id}}">
                      {{contactType.type}}
                    </option>
                  </select>
                </div>
                <div class="p-2 bd-highlight">
                  <span class="addContact" (click)="removeContact(i)">
                      <img src="https://img.icons8.com/metro/20/000000/close-window.png"/>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <input class="btn btn-color mb-3" type="submit" value="Edit">
</form>

<!-- <div class="m-5"> -->
  <form class="text-center bg-light m-2 p-5 border" [formGroup]="details" (ngSubmit)="uploadCV()">
    <div class="alert alert-success w-50 mx-auto" *ngIf="successAlert" role="alert">
      uploaded successfully
    </div>
    <input type="file" name="cv" #fileupload placeholder="CV" (change)="onFileSelected($event)">
    <div *ngIf="cvError" class="text-danger small">
      {{cvError}}
    </div>
    <div *ngIf="error && error.errors.cv" class="text-danger small">
      <div *ngFor="let cv of error.errors.cv">
        {{cv}}
      </div>
    </div>
    <input class="btn btn-color small" type="submit" value="Upload CV">
  </form>
<!-- </div> -->
