<div class="container">
  <div class="bg-warning text-center" *ngIf="verify_email">
      please verify your email
  </div>

  <section class="login-inner">
    <div class="login-middle">
      <div class="login-details">
        <form [formGroup]="user" (ngSubmit)="onSubmit()">
          <h2>Log In</h2>
          <div *ngIf="userError" class="text-danger text-center">
            {{userError}}
          </div>
          <label>
            <input  name="email" type="email" formControlName="email" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp" placeholder="Email address"/>
          </label>
          <label>
            <input name="password" type="password" formControlName="password" class="form-control"
                id="exampleInputPassword1" placeholder="Password"/>
          </label>
          <label>
            <input type="checkbox"/><span>Remember me</span>
          </label>
          <div class="btn-sub">
            <button  type="submit" class="btn btn-outline-danger">Log In</button>
            <span>
              <a href="#">Forget your password?</a>
            </span>
          </div>

        </form>
      </div>
    </div>
  </section>
</div>
