<a class="btn btn-primary btn-sm text-white" (click)="crudOperation('new','')">New</a>

<table class="table text-center">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col" colspan="3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contactType of contactTypes">
        <th scope="row">{{contactType.id}}</th>
        <td>{{contactType.type}}</td>
        <td><a class="btn btn-success btn-sm text-white" (click)="crudOperation('show',contactType.id)">show</a></td>
        <td><a class="btn btn-primary btn-sm text-white" (click)="crudOperation('edit',contactType.id)">edit</a></td>
        <td><a class="btn btn-danger btn-sm text-white" (click)="crudOperation('delete',contactType.id)">delete</a></td>
      </tr>
    </tbody>
  </table>
