<form [formGroup]="level" (ngSubmit)="submitLevel()">
    <div>
        <div class="my-3">
            <label>Id</label>
            <input name="id" type="text" formControlName="id" class="form-control" id="exampleInputlevel1"
                aria-describedby="levelHelp" placeholder="Enter level" />
        </div>
        <div class="my-3">
            <label>Name</label>
            <input name="name" type="text" formControlName="name" class="form-control" id="exampleInputlevel1"
                aria-describedby="levelHelp" placeholder="Enter level" />
        </div>
    </div>
<div class="container text-center">
    <button class="btn btn-primary">submit level</button>
</div>
</form>