<span class="addContact" (click)="addContact()">
    <strong>Other Contact </strong>
    <img src="https://img.icons8.com/material-sharp/20/000000/add.png" />
</span>
<form [formGroup]="contact" (ngSubmit)="submitContact()">
    <div *ngFor="let onecontact of contact.controls; let i=index">
        <div [formGroupName]="i" class="d-flex flex-row-reverse bd-highlight">
            <div class="p-2 bd-highlight">
                <input name="contact" type="text" formControlName="data" class="form-control" id="exampleInputcontact1"
                    aria-describedby="contactHelp" placeholder="Enter contact" />
            </div>
            <div class="p-2 bd-highlight">
                <select class="form-control" name="contact_types_id" formControlName="contact_types_id">
                    <option value=''>please select</option>
                    <option *ngFor="let contactType of contactTypes" value="{{contactType.id}}">
                        {{contactType.type}}
                    </option>
                </select>
            </div>
            <div class="p-2 bd-highlight">
                <span class="addContact" (click)="removeContact(i)">
                    <img src="https://img.icons8.com/metro/20/000000/close-window.png"/>
                </span>
            </div>
        </div>
    </div>
    <div *ngIf="contact.length" class="container text-center">
        <button class="btn btn-primary">submit contact</button>
    </div>
</form>