<div class="d-flex flex-row-reverse bd-highlight">
        <div class="p-2 bd-highlight">
            <input name="contact" type="text" formControlName="data" class="form-control" id="exampleInputcontact1"
                aria-describedby="contactHelp" placeholder="Enter contact" />
        </div>
        <div class="p-2 bd-highlight">
            <select class="form-control" name="contact_types_id" formControlName="contact_types_id">
                <option value=''>please select</option>
                <option *ngFor="let contactType of contactTypes" value="{{contactType.id}}">
                    {{contactType.type}}
                </option>
              </select>
        </div>
    </div>