<table class="table table-striped w-50">
    <tr>
        <td>
            <input name="contact" type="text" [(ngModel)]="contact.data" class="form-control" id="exampleInputcontact1"
                aria-describedby="contactHelp" placeholder="Enter contact" />
        </td>
        <td>
            <select class="form-control" name="contact_types_id" [(ngModel)]="contact.contact_types_id">
                <option value=''>please select</option>
                <option *ngFor="let contactType of contactTypes" value="{{contactType.id}}">
                    {{contactType.type}}
                </option>
              </select>
        </td>
        <td>
            <button class="btn btn-primary" (click)="addContact()">add</button>
        </td>
    </tr>
</table>