<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="row justify-content-center">
        <div class="col-4 row">
            <div class="col-6 px-0 form-group">
                <select class="form-control" name="status" formControlName="status">
                    <option value=''>Status</option>
                    <option *ngFor="let status of statuses" value="{{status.id}}">
                        {{status.name}}
                    </option>
                </select>
            </div>
            <div class="col-6 px-0 form-group">
                <input type="text" formControlName="position" class="form-control" placeholder="Position">
            </div>
        </div>
        <div class="col-6 row">
            <div class="col-4 px-0 form-group">
                <input type="text" formControlName="seniority" class="form-control" placeholder="Seniority">
            </div>
            <div class="col-5 px-0 form-group">
                <input type="number" formControlName="expYears" class="form-control" placeholder="Years of Experience">
            </div>
            <div class="col-3 px-0 form-group">
                <input type="number" formControlName="city" class="form-control" placeholder="City">
            </div>
        </div>
        <div class="col-2 px-0">
            <button type="submit" class="btn btn-success">search</button>
        </div>
    </div>
</form>