<mat-horizontal-stepper (selectionChange)="showInterview($event)">
    <mat-step  *ngFor="let interview of interviews"  [label]="interview.level_name">
      {{interview.level_name}}
    </mat-step>  
</mat-horizontal-stepper>
<div *ngIf="loadInterview;else anotherInterview" class="p-3 m-3">
  <app-interview-item [newInterview]="newInterview"></app-interview-item>
</div>

<ng-template #anotherInterview>
  <div  class="p-3 m-3">
    <app-interview-item [newInterview]="newInterview"></app-interview-item>
  </div>
</ng-template>