<mat-horizontal-stepper (selectionChange)="showInterview($event)">
    <mat-step  *ngFor="let interview of interviews"  [label]="interview.level_name">
      
      <button (click)="myInterviews()" class="btn btn-primary">{{interview.level_name}}</button>
    </mat-step>  
</mat-horizontal-stepper>

<!-- show or hide interview -->

<div *ngIf="renderInterview" class="pt-2 ">
  <div *ngIf="loadInterview;else anotherInterview" class=" ">
    <app-interview-item [newInterview]="newInterview"></app-interview-item>
  </div>
  
  <ng-template #anotherInterview>
    <div class=" ">
      <app-interview-item [newInterview]="newInterview"></app-interview-item>
    </div>
  </ng-template>
</div>
