<p>
  <strong>Name : </strong>{{this.seeker.name}}
</p>
<p>
  <strong>email : </strong>{{this.seeker.email}}
</p>
<p>
  <strong>contact : </strong>{{this.seeker.contact}}
</p>
<p>
  <strong>Address : </strong>{{this.seeker.address}}
</p>
<p>
  <strong>city : </strong>{{this.seeker.city}}
</p>
<p>
  <strong>seniority : </strong>{{this.seeker.seniority}}
</p>
<p>
  <strong>expYears : </strong>{{this.seeker.expYears}}
</p>
<p>
  <strong>currentJob : </strong>{{this.seeker.currentJob}}
</p>
<p>
  <strong>currentSalary : </strong>{{this.seeker.currentSalary}}
</p>
<p>
  <strong>expectedSalary : </strong>{{this.seeker.expectedSalary}}
</p>
<p>
  <strong>Contacts</strong>
  <app-contact-list [contacts]="contacts"></app-contact-list>
</p>
<p>
  <strong>cv : </strong>{{this.seeker.cv}}
</p>
<p>======================================================</p>