<div class="row user-left-part">
  <div class="col-md-3 col-sm-3 col-xs-12 user-profil-part pull-left">
    <div class="row ">
      <div (click)="updatePhoto()" class="col-md-12 col-md-12-sm-12 col-xs-12 user-image text-center">
        <img [src]="profileImage"  class="rounded-circle">
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 user-detail-section1 text-center">
        <div *ngIf="role==3">
          <button class="btn btn-color btn-block follow" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
              <svg class="bi bi-gear-wide-connected" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
              d="M8.932.727c-.243-.97-1.62-.97-1.864 0l-.071.286a.96.96 0 0 1-1.622.434l-.205-.211c-.695-.719-1.888-.03-1.613.931l.08.284a.96.96 0 0 1-1.186 1.187l-.284-.081c-.96-.275-1.65.918-.931 1.613l.211.205a.96.96 0 0 1-.434 1.622l-.286.071c-.97.243-.97 1.62 0 1.864l.286.071a.96.96 0 0 1 .434 1.622l-.211.205c-.719.695-.03 1.888.931 1.613l.284-.08a.96.96 0 0 1 1.187 1.187l-.081.283c-.275.96.918 1.65 1.613.931l.205-.211a.96.96 0 0 1 1.622.434l.071.286c.243.97 1.62.97 1.864 0l.071-.286a.96.96 0 0 1 1.622-.434l.205.211c.695.719 1.888.03 1.613-.931l-.08-.284a.96.96 0 0 1 1.187-1.187l.283.081c.96.275 1.65-.918.931-1.613l-.211-.205a.96.96 0 0 1 .434-1.622l.286-.071c.97-.243.97-1.62 0-1.864l-.286-.071a.96.96 0 0 1-.434-1.622l.211-.205c.719-.695.03-1.888-.931-1.613l-.284.08a.96.96 0 0 1-1.187-1.186l.081-.284c.275-.96-.918-1.65-1.613-.931l-.205.211a.96.96 0 0 1-1.622-.434L8.932.727zM8 12.997a4.998 4.998 0 1 0 0-9.995 4.998 4.998 0 0 0 0 9.996z" />
              <path fill-rule="evenodd" d="M7.375 8L4.602 4.302l.8-.6L8.25 7.5h4.748v1H8.25L5.4 12.298l-.8-.6L7.376 8z" />
            </svg> Edit
          </button>
          <button type="button" *ngIf="seeker.isVerified == 0" (click)="openModal()"
          class="btn btn-verify btn-sm col-12  float-right"> verify mobile</button>
          <div class="card" id="collapseExample" [ngbCollapse]="isCollapsed">
            <div class="card-body">
              <app-personal-form [seekerData]="seeker" (formEvent)="changeData($event)"></app-personal-form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-9 col-sm-9 col-xs-12 pull-right profile-right-section">
    <div class="row profile-right-section-row">
      <div class="col-md-12 profile-header">
        <div class="container">
          <h1>{{seeker.user.name}}</h1>
          <h5>{{seeker.currentJob}}</h5>
        </div>
      </div>
      <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#profile" role="tab" data-toggle="tab">Profile</a>
          </li>
          <li class="nav-item" *ngIf="role==3">
            <a class="nav-link" href="#buzz" role="tab" data-toggle="tab">Edit Profile</a>
          </li>
          <li class="nav-item" *ngIf="role==3">
            <a class="nav-link" href="#resetPassword" role="tab" data-toggle="tab">Reset Password</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade" id="resetPassword">
            <div class="my-5">
              <app-reset-password></app-reset-password>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="buzz">
            <app-details-form [seeker]="seeker" (formEvent)="changeDetailsData($event)"></app-details-form>
          </div>
          <div role="tabpanel" class="tab-pane fade show active" id="profile">
            <table class="table text-center">
              <tbody>
                <tr>
                  <th>Contact</th>
                  <td>
                    {{this.seeker.phone}}
                  </td>
                </tr>
                <tr>
                  <th scope="col">Other Contacts</th>
                  <td>
                    <app-contact-list [contacts]="contacts"></app-contact-list>
                  </td>
                </tr>
                <tr>
                  <th scope="col">Address</th>
                  <td>
                    {{this.seeker.address}}
                  </td>
                </tr>
                <tr>
                  <th scope="col">City</th>
                  <td>
                    {{this.seeker.city}}
                  </td>
                </tr>
                <tr>
                  <th scope="col">Seniority</th>
                  <td>
                    {{this.seeker.seniority}}
                  </td>
                </tr>
                <tr>
                  <th scope="col">Years of experience</th>
                  <td>
                    {{this.seeker.expYears}}
                  </td>
                </tr>
                <tr>
                  <th scope="col">Current Job</th>
                  <td>
                    {{this.seeker.currentJob}}
                  </td>
                </tr>
                <tr>
                  <th scope="col">Current Salary</th>
                  <td>
                    {{this.seeker.currentSalary}}
                  </td>
                </tr>
                <tr>
                  <th scope="col">Expected Salary</th>
                  <td>
                    {{this.seeker.expectedSalary}}
                  </td>
                </tr>
                <tr>
                  <th scope="col">CV</th>
                  <td *ngIf="seeker.cv">
                    <a [href]="url" target="_blank" rel="noopener noreferrer">{{seeker.cv}}</a>
                    <!-- <button class="btn btn-primary" (click)="downloadFile()">{{this.seeker.cv}}</button> -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
