<div class="text-left mr-5">
  <a class="btn btn-info my-2 btn-sm text-white" (click)="crudOperation('new','')">New</a>
</div>
<div class="container text-center my-1 bg-warning">
  {{error}}
</div>
<table class="table text-center bg-white">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Position</th>
        <th scope="col">Branch</th>
        <th scope="col" colspan="3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th scope="row">{{user.user.id}}</th>
        <td>{{user.user.name}}</td>
        <td>{{user.position}}</td>
        <td>{{user.branch}}</td>
        <td><a class="btn btn-success btn-sm text-white" (click)="crudOperation('show',user.user.id)">show</a></td>
        <td><a class="btn btn-primary btn-sm text-white" (click)="crudOperation('edit',user.user.id)">edit</a></td>
        <td><a class="btn btn-danger btn-sm text-white" (click)="crudOperation('delete',user.user.id)">delete</a></td>
      </tr>
    </tbody>
  </table>

    <div class="col">
      <button type="button" class="btn btn-light" name="previous" *ngIf="links.prev" (click)="prev()">Previous</button>
      <button type="button" class="btn btn-light" name="next" *ngIf="links.next" (click)="next()">Next</button>
    </div>
