@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/* .allBody{
  border-radius: 5px;
  background: rgb(216,228,240);
background: radial-gradient(circle, rgba(216,228,240,1) 50%, rgba(238,244,149,1) 100%);
} */
