/* .sidenav {
  position: fixed;
  height: 100%;
  z-index: 1;
  top: 54px;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-x: scroll;
  padding: 20px;
} */

.main {
  margin-top: 60px;
  margin-left: 13% !important;
  width: 85%;
  /* align-content: center; */
  /* padding: 0px 10%; */
}

.sidenav {
  height: 100%;
  width: 10%;
  position: fixed;
  z-index: 1;
  top: 63px;
  left: 0;
  bottom: 0;
  /* background-color: white; */
  overflow-x: hidden;
  padding-top: 0px;
}