<div class="container w-50">
    <div *ngIf="updated">
        <p class="text-danger">{{ message }}</p>
    </div>
    <form [formGroup]="passwords" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="CurrentPassword">Current Password</label>
            <input name="current_password" type="password" formControlName="current_password" class="form-control"
                id="CurrentPassword" aria-describedby="currentPasswordHelp" placeholder="Enter Current Password">
            <div *ngIf="error && error.current_password" class="text-danger">
                {{error.current_password}}
            </div>
        </div>
        <div class="form-group">
            <label for="NewPassword">New Password</label>
            <input name="password" type="password" formControlName="password" class="form-control"
                id="NewPassword" aria-describedby="newPasswordHelp" placeholder="Enter New Password" />
            <div *ngIf="error && error.password" class="text-danger">
                {{error.password}}
            </div>
        </div>
        <div class="form-group">
            <label for="NewPasswordConfirmation">Confirm Password</label>
            <input [class.is-invalid]="passwords.errors?.misMatch" name="password_confirmation" type="password" formControlName="password_confirmation"
                class="form-control" id="NewPasswordConfirmation" aria-describedby="passwordConfirmationHelp"
                placeholder="Enter Password Confirmation" />
                <div *ngIf="passwords.errors?.misMatch" class="text-danger">
                    password confirmation doesn't match new password field
                </div>
        </div>
        <button type="submit" class="btn btn-color">Confirm Password</button>
    </form>
</div>