<div class="container w-50">
<form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="CurrentPassword">Current Password</label>
        <input name="current_password" type="password" [(ngModel)]="passowrds.current_password" class="form-control" id="CurrentPassword"
            aria-describedby="currentPasswordHelp" placeholder="Enter Current Password">
            <div *ngIf="error && error.current_password" class="text-danger">
                {{error.current_password}}
            </div>
    </div>
    <div class="form-group">
        <label for="NewPassword">New Password</label>
        <input name="new_password" type="password" [(ngModel)]="passowrds.new_password" class="form-control" id="NewPassword"
            aria-describedby="newPasswordHelp" placeholder="Enter New Password" />
            <div *ngIf="error && error.new_password" class="text-danger">
                {{error.new_password}}
            </div>
    </div>
    <div class="form-group">
        <label for="NewPasswordConfirmation">Confirm Password</label>
        <input name="new_password_confirmation" type="password" [(ngModel)]="passowrds.new_password_confirmation" class="form-control" id="NewPasswordConfirmation"
            aria-describedby="new_passwordConfirmationHelp" placeholder="Enter Password Confirmation" />
    </div>
    <button type="submit" class="btn btn-primary">Confirm Password</button>
</form>
</div>
