.clickedItem{
    background-color: #1f2833 !important;
    color: #66fcf1;
}
.notClickedItem{
    background-color: white !important;
    color: #1f2833;
}
.hoveredItem:hover{
    background-color: #1f2833 !important;
    color: #66fcf1;
    cursor: pointer;
}