<div class="modal-body bg-white  ">
    <div class=" m-2  float-right">
        <button (click)="activeModal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="  p-1">
        <div class="p-2 mt-2 mx-2 bg-white rounded details">
            <p>Are you sure remove {{data}}</p>
        </div>
    </div>
</div>

<div class="modal-footer">
    <div class="float-left text-center">
        <button (click)="activeModal.close(true)" class="btn btn-outline-danger">Yes</button>
    </div>
    <button type="button" class="btn btn-outline-primary" (click)="activeModal.dismiss()">No</button>
</div>