.bg-color {
    background: rgb(27, 150, 144);
    background: linear-gradient(76deg, rgba(27, 150, 144, 1) 0%, rgba(49, 112, 142, 1) 49%, rgba(27, 150, 144, 1) 100%);
}

.text-title {
    color: #ffa600;
    font-weight: 550;
}