

<div class="modal-body bg-color  ">
    <div class=" m-2  float-right">
        <button  (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="p-1">
        <div class="alert alert-danger" *ngIf="applyError">
            <small>{{applyError.error}}</small>
        </div>
        <h1 class="text-center text-title"><strong>{{job.title}}</strong></h1>
        <div class="p-4 mt-2 mx-2 bg-white rounded details">

            <h3 class="mb-0"><strong>Description</strong></h3>
            <div class=" pl-3 pt-1">
                <p class="pre">{{job.description}}</p>
            </div>
            <p><strong>Years of Experience : </strong>{{job.years_exp}}</p>
            <p><strong>Seniority Level : </strong>{{job.seniority}}</p>
        </div>
        <div *ngIf="job.requirements.length > 0" class="p-4 mt-2 mx-2 bg-white rounded details">
            <h3><strong>Requirements</strong></h3>
            <ul>
                <li *ngFor="let req of job.requirements"> {{req.name}}</li>
            </ul>
        </div>
    </div>
</div>

<div class="modal-footer">
    <div *ngIf="canApply && userRole!=0 && userRole!=1" class=" text-center">
        <button (click)="applyJob()" class="btn btn-color">Apply to job</button>
    </div>
    <div *ngIf="userRole==0" class=" text-center">
        <button routerLink="/login" (click)="activeModal.close('Close click')" class="btn btn-color">Login to apply</button>
    </div>
    <button type="button" class="btn btn-color" (click)="activeModal.close('Close click')">Close</button>
</div>
