.user-image {
    /* position: absolute; */
    width: 230px;
    height: 250px;
}

.photo {
    width: 100%;
    height: 100%;
}

.modal-style {
    width: 230px;
}

.btn-change {
    position: absolute;
    color: transparent;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent
}

.user-image:hover .btn-change {
    color: #000;
    border: #000 !important;
}