<app-profile-details></app-profile-details>
<app-contact-list></app-contact-list>
<app-profile-form></app-profile-form>
<p>======================================================</p>
<p>
  <strong>Name : </strong>{{this.seekers.name}}
</p>
<p>
  <strong>email : </strong>{{this.seekers.email}}
</p>
<p>
  <strong>contact : </strong>{{this.seekers.contact}}
</p>
<p>
  <strong>Address : </strong>{{this.seekers.address}}
</p>
<p>
  <strong>city : </strong>{{this.seekers.city}}
</p>
<p>
  <strong>seniority : </strong>{{this.seekers.seniority}}
</p>
<p>
  <strong>expYears : </strong>{{this.seekers.expYears}}
</p>
<p>
  <strong>currentJob : </strong>{{this.seekers.currentJob}}
</p>
<p>
  <strong>currentSalary : </strong>{{this.seekers.currentSalary}}
</p>
<p>
  <strong>expectedSalary : </strong>{{this.seekers.expectedSalary}}
</p>
<p>
  <strong>cv : </strong>{{this.seekers.cv}}
</p>
<p>======================================================</p>
