<div class="row user-left-part">
  <div class="col-md-3 col-sm-3 col-xs-12 user-profil-part pull-left">
    <div class="row ">
      <div class="col-md-12 col-md-12-sm-12 col-xs-12 user-image text-center">
        <img src="https://www.jamf.com/jamf-nation/img/default-avatars/generic-user-purple.png" class="rounded-circle">
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 user-detail-section1 text-center">
      </div>

    </div>
  </div>
  <div class="col-md-9 col-sm-9 col-xs-12 pull-right profile-right-section">
    <div class="row profile-right-section-row">
      <div class="col-md-12 profile-header">
        <div class="container">
          <h1>{{employee.name}}</h1>
          <h5>{{employee.email}}</h5>
        </div>
      </div>
      <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#profile" role="tab" data-toggle="tab">Profile</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade show active" id="profile">
            <table class="table text-center">
              <tbody>
                <tr>
                  <th>Position</th>
                  <td>
                    {{this.employee.position}}
                  </td>
                </tr>
                <tr>
                  <th scope="col">Branch</th>
                  <td>
                    {{this.employee.branch}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
