<div class="mx-3 my-1 px-3 rounded">
    <div *ngIf="isAdmin" class="btn">
        <strong>Seeker Name:</strong> {{application.seeker.user.name}}
    </div>
    <div class="d-flex justify-content-between">
        <div>
            <button type="button" class="btn  mr-2" placement="left" #p2="ngbPopover" (mouseenter)="p2.open()"
                (mouseleave)="p2.close()" [ngbPopover]="application.status.description"
                [popoverTitle]="application.status.name">
                <strong>Status: </strong> {{application.status.name}}
            </button>
        </div>
        <div>
            <button type="button" class="btn btn-danger" (click)="showInterviews()"
                *ngIf="application.interviews" [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseExample">
                {{showJob?'Job Details':'Interviews'}}
            </button>
        </div>
    </div>

    <div id="collapseExample" class="my-4" *ngIf="isSeeker && application.interviews.length" [ngbCollapse]="isCollapsed">
        <div class="card" *ngIf="application.interviews">
            <div class="">
                <nav class="navbar navbar-expand-lg d-flex justify-content-around">
                    <div class="nav-item" *ngFor="let interview of application.interviews; index as i">
                        <button class="rounded-circle p-3 bg-warning" [class.bg-yellow]="i!=clickedInterview"
                            [class.bg-color-enabled]="i==clickedInterview"
                            (click)="viewInterview(i)">{{interview.level_name}}</button>
                    </div>
                </nav>
            </div>
        </div>
        <div *ngIf="showedInterview">
            <app-interview-item [newInterview]="showedInterview"></app-interview-item>
        </div>
    </div>

    <div class="my-2 p-1" *ngIf="!showJob">
        <h1 class="text-center text-title"><strong>{{application.job.title}}</strong></h1>
        <div class="p-4 mt-2 mx-2 bg-white rounded details">
            <h3 class="mb-0"><strong>Description</strong></h3>
            <div class=" pl-3 pt-1">
                <p class="pre">{{application.job.description}}</p>
            </div>
            <p><strong>Years of Experience : </strong>{{application.job.years_exp}}</p>
            <p><strong>Seniority Level : </strong>{{application.job.seniority}}</p>
        </div>
        <div *ngIf="application.job.requirements" class="p-4 mt-2 mx-2 bg-white rounded details">
            <h3><strong>Requirements</strong></h3>
            <ul>
                <li *ngFor="let req of application.job.requirements"> {{req.name}}</li>
            </ul>
        </div>
    </div>
    <!-- <table class="table bg-white text-center">
        <tbody>
            <tr *ngIf="isAdmin">
                <td>Seeker</td>
                <td>{{application.seeker.user.name}}</td>
            </tr>
            <tr>

                <td>
                    <h2>Job</h2>
                </td>
                <td>
                    <button type="button" class="btn  mr-2" placement="left" #p="ngbPopover" (mouseenter)="p.open()"
                        (mouseleave)="p.close()" [ngbPopover]="application.job.description"
                        [popoverTitle]="application.job.title">
                        {{application.job.title}}
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Status</h2>
                </td>
                <td>
                    <h2>Status</h2>
                </td>
                <td>
                    <button type="button" class="btn  mr-2" placement="left" #p2="ngbPopover" (mouseenter)="p2.open()"
                        (mouseleave)="p2.close()" [ngbPopover]="application.status.description"
                        [popoverTitle]="application.status.name">
                        {{application.status.name}}
                    </button>
                </td>
            </tr>

        </tbody>
    </table> -->

    <div class="row my-2">
        <div class="col-6">
            <button (click)="deleteApplication()" class="btn btn-danger">Remove Application</button>
        </div>
        <div *ngIf="isAdmin" class="col-6 text-right">
            <button (click)="showForm()" class="btn btn-info">Apply Interview </button>
        </div>
    </div>

</div>

<!-- interview form -->
<div *ngIf="interviewForm">
    <div class="p-2 bd-highlight text-center">
        <span class="addContact" (click)="showForm()">
            <img src="https://img.icons8.com/metro/20/000000/close-window.png" />
        </span>
    </div>
    <admin-interview-form [appId]="application.id"></admin-interview-form>
</div>
<!-- <div class=" rounded mx-3 my-1 p-3" *ngIf="application.interviews && application.interviews.length >0">
    <app-interview-levels [interviews]="application.interviews"></app-interview-levels>
</div> -->