<div class="single-app p-3">
    <div class="alert alert-danger" *ngIf="applyError">
        <small >Sorry u already apply for this job</small>
    </div>
    <h5>{{job.title}}</h5>
    <p>{{job.description}}</p>
    <p>{{job.years_exp}}</p>
    <p>{{job.seniority}}</p>
    <div *ngIf="job.requirements.length > 0">
        <p >Requirements</p>
        <ul>
            <li *ngFor="let req of job.requirements"> {{req.name}}</li>
        </ul>
    </div>
    <div>
        <button *ngIf="canApply" (click)="applyJob()" class="btn btn-primary">Apply to job </button>
        
    </div>
   

</div>

