<!-- <p>interview-item works!</p> -->
<!-- <p>{{single.seeker_review}}</p> -->
<!-- <a [routerLink]="['../5']">aaaaaaa</a> -->

<div>
    <div class="d-flex justify-content-between m-1">
        <div><strong class="mr-3">Application ID: </strong>
            {{single.application_id}}</div>
        <div><small>{{single.date}}</small></div>
    </div>
    <ul class="list-group">
        <li class="list-group-item"><strong class="m-3">Seeker Name : </strong> {{single.seeker}}</li>
        <li class="list-group-item"><strong class="m-3">Employee Name : </strong> {{single.emp_name}}</li>
        <li class="list-group-item"><strong class="m-3">Level : </strong> {{single.level_name}}</li>
        <li class="list-group-item"><strong class="m-3">Zoom Link : </strong> <a
                href="{{single.zoom}}">{{single.zoom}}</a></li>
        <li class="list-group-item"><strong class="m-3">Seeker Review : </strong> {{single.seeker_review}}</li>
        <li class="list-group-item"><strong class="m-3">Company Review : </strong> {{single.company_review}}</li>

    </ul>
</div>