<br>
<br>

<br>
<div class="clendarContainer" *ngIf="viewSwitch==true">
    <div> <button class="btn btn-outline-dark ml-3" (click)="toggleView()">table view</button></div><br>
    <div class="row text-center">
        <div class="col-md-4">
            <div class="btn-group">
                <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                    (viewDateChange)="closeOpenMonthViewDay()">
                    Previous
                </div>
                <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                    Today
                </div>
                <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                    (viewDateChange)="closeOpenMonthViewDay()">
                    Next
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
        </div>
        <div class="col-md-4">
            <div class="btn-group">
                <div class="btn btn-primary" (click)="setView(CalendarView.Month)"
                    [class.active]="view === CalendarView.Month">
                    Month
                </div>
                <div class="btn btn-primary" (click)="setView(CalendarView.Week)"
                    [class.active]="view === CalendarView.Week">
                    Week
                </div>
                <div class="btn btn-primary" (click)="setView(CalendarView.Day)"
                    [class.active]="view === CalendarView.Day">
                    Day
                </div>
            </div>
        </div>
    </div>
    <div [ngSwitch]="view">
        <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
            [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
            (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
            [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
            [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-day-view>
    </div>
</div>


<!-- <table class="table text-center bg-white">
    <thead class="thead-dark"> -->

<div class="tableContainer" *ngIf="viewSwitch==false">
    <div> <button class="btn btn-outline-dark ml-3" (click)="toggleView()">calendar view</button></div>

    <div class="container d-flex justify-content-end textMargin">
        <div class="" *ngIf="flag==true">
            <button type="button" class="btn btn-danger" name="button" (click)="showInterviews()">show old
                interviews</button>
        </div>
        <div class="" *ngIf="flag==false">
            <button type="button" class="btn btn-danger text-right" name="button" (click)="showInterviews()">show
                pending
                interviews</button>
        </div>
    </div>

    <div class="text-center" *ngIf="flag==false">
        <h1>Old interviews</h1>
    </div>
    <div class="text-center" *ngIf="flag==true">
        <h1>pending interviews</h1>
    </div>

    <div class="container d-flex justify-content-center">
        <table class="table text-center table-light w-75">
            <thead class="thead-dark">
                <tr>
                    <th> ID</th>
                    <th> Application ID</th>
                    <th> Seeker Name</th>
                    <th> Date</th>
                    <th scope="col" colspan="3">Actions</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let interview of interviews; index as i">
                    <td *ngIf="!flag && interviewDate[i]">{{ interview.id }}
                    </td>
                    <td *ngIf="!flag && interviewDate[i]">{{ interview.application_id }}</td>
                    <td *ngIf="!flag && interviewDate[i]">
                        <a href="#" routerLink="/profile/{{interview.seeker_id}}">{{interview.seeker}}</a>
                    </td>
                    <td *ngIf="!flag && interviewDate[i]">{{ interview.date}}</td>
                    <td *ngIf="!flag && interviewDate[i]"><button routerLink="./details/{{ interview.id }}"
                            class="btn btn-primary btn-sm"> Details</button></td>
                    <td *ngIf="!flag && interviewDate[i]"><button routerLink="./review/{{ interview.id }}"
                            class="btn btn-success btn-sm"> Add Review </button>
                    </td>
                    <td *ngIf="flag && !interviewDate[i]">{{ interview.id }}
                    </td>
                    <td *ngIf="flag && !interviewDate[i]">{{ interview.application_id }}</td>
                    <td *ngIf="flag && !interviewDate[i]">
                        <a href="#" routerLink="/profile/{{interview.seeker_id}}">{{interview.seeker}}</a>
                    </td>
                    <td *ngIf="flag && !interviewDate[i]">{{ interview.date}}</td>
                    <td *ngIf="flag && !interviewDate[i]"><button routerLink="./details/{{ interview.id }}"
                            class="btn btn-primary btn-sm"> Details</button></td>
                    <td *ngIf="flag && !interviewDate[i]"><button routerLink="./review/{{ interview.id }}"
                            class="btn btn-success btn-sm"> Add Review </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>