 .crop {
        height: 380px;
        overflow: hidden;
    }

    .crop img {
        height: 380px;
    }

    .verigyEmail{
        cursor: pointer;
        color: blue;
    }
    .color-warning{
        background-color: black;
        color: white;
    }