<app-header></app-header>
<div class="crop" *ngIf="checkPath()" >
  <img class="img-fluid w-100" src="assets/images/home.jpg" >
</div>

<div class="bg-warning text-center" *ngIf="isEmailSent()">
  please verify your email, if you didn't recieve any emails click this button
  <a class="text-primary verigyEmail" (click)="resendEmailVerification()"> send email verification </a>
</div>

<div class="bg-warning text-center" *ngIf="loggedinUser && emailSent && !emailVerified">
  email has been sent, check your inbox
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
